---
import { ArrowRight } from '@icons/ArrowRight'

import Link from '@/components/Link'
---

<Link
  href='#projects'
  class:list={['flex size-full items-center justify-between px-6 py-6']}
>
  <p
    class:list={[
      'relative font-medium',
      "after:absolute after:left-0 after:top-1/2 after:w-0 after:content-['']",
      'after:bg-primary-gradient after:mt-3 after:h-0.5 after:transition-all after:duration-400',
      'group-hover:after:w-full'
    ]}
  >
    Discover more projects
  </p>
  <ArrowRight
    className='size-6 transition-all duration-300 group-hover:rotate-[90deg]'
  />
</Link>
