---
import { getCollection } from 'astro:content'

import BlogCard from '@/components/BlogCard.astro'
import BlogHeader from '@/components/BlogHeader.astro'
import SEO from '@/components/SEO.astro'
import BaseLayout from '@/layouts/BaseLayout.astro'
import { getCustomTransition } from '@/lib/customTransition'
import { blogMetaData } from '@/lib/metaData'

import Decorator from '../projects/_components/Decorator.astro'

const blogEntries = await getCollection('blog')
---

<!-- <UnderConstruction /> -->
<BaseLayout>
  <SEO
    title={`Blog | ${blogMetaData.title}`}
    description={blogMetaData.description}
    slot='seo'
  />
  <Decorator slot='decorator' />
  <BlogHeader class='mt-16 sm:mt-40' />
  <section class='mt-12 sm:mt-16' transition:animate={getCustomTransition(0.2)}>
    {blogEntries.map((item) => <BlogCard {...item} />)}
  </section>
</BaseLayout>
