---
interface Props {
  class?: string
}

const { class: className } = Astro.props
---

<div
  class:list={[
    'absolute -z-10 h-screen w-screen max-w-full overflow-hidden min-[2048px]:max-w-[2048px]',
    className
  ]}
>
  <slot />
</div>
