:root {
  --speed: 0.25;
  --blur: 4;
  --ease-in: linear(
    0 0%,
    0.0039 6.25%,
    0.0156 12.5%,
    0.0352 18.75%,
    0.0625 25%,
    0.0977 31.25%,
    0.1407 37.5%,
    0.1914 43.74%,
    0.2499 49.99%,
    0.3164 56.25%,
    0.3906 62.5%,
    0.5625 75%,
    0.7656 87.5%,
    1 100%
  );
  --ease: ease;
  --nav: 'nav';
}

.nav {
  anchor-name: --my-nav;
  left: 50%;
  translate: 0% 0;
  margin-left: calc(var(--width) * -0.5px);

  --width: 258;
  --bottom-nav-bar-offset: 32px;
  view-transition-name: --nav;
}

::view-transition-group(--nav) {
  z-index: 10;
}

@media (max-width: 480px) {
  .nav {
    --bottom-nav-bar-offset: 16px;
  }

  .tip {
    display: none;
  }
}

.tip {
  position-anchor: --my-nav;
  position: fixed;
  bottom: anchor(top);
  left: anchor(left);
  height: 2rem;
  width: 100px;

  background: rgba(0, 0, 0, 0.5);
  backdrop-filter: blur(12px);
  font-size: 0.85rem;
  letter-spacing: 0.025em;
  padding-bottom: 32px;

  border-radius: 100px;
  pointer-events: none;
  overflow: hidden;
  border: 1px solid theme(colors.shark.950);
  z-index: 999999999;
}

.tip__track {
  display: grid;
  height: 2rem;
}

.tip {
  .tip__track {
    grid-auto-flow: column;
    grid-auto-columns: 100%;
  }
}

.tip__track div {
  height: var(2rem);
  padding-inline: 0.5rem;
  display: grid;
  place-items: center;
}

.tip {
  position-try-fallbacks: flip-block, flip-inline;
}

.tip {
  left: anchor(left);
  bottom: calc(anchor(top) + 1rem);
  translate: calc(-50% + (var(--tip-x) * 1px));
  /* translate: calc(-50% + (var(--tip-x) * 1px)) calc(var(--tip-y) * 1px + -50%); */
}

/* :has() hovering stuff */
:root:has(nav li:nth-of-type(1):is(:hover)) {
  --active: 1;
  .tip__track div:nth-of-type(1) {
    --shown: 1;
  }
}
:root:has(nav li:nth-of-type(2):is(:hover)) {
  --active: 2;
  .tip__track div:nth-of-type(2) {
    --shown: 1;
  }
}
:root:has(nav li:nth-of-type(3):is(:hover)) {
  --active: 3;
  .tip__track div:nth-of-type(3) {
    --shown: 1;
  }
}
:root:has(nav li:nth-of-type(4):is(:hover)) {
  --active: 4;
  .tip__track div:nth-of-type(4) {
    --shown: 1;
  }
}
:root:has(nav li:nth-of-type(5):is(:hover)) {
  --active: 5;

  .tip__track div:nth-of-type(5) {
    --shown: 1;
  }
}
:root:has(nav li:nth-of-type(6):is(:hover)) {
  --active: 6;

  .tip__track div:nth-of-type(6) {
    --shown: 1;
  }
}

.tip {
  scale: var(--show, 0);
  filter: blur(calc(var(--blur, 0) * 1px));
  transition:
    scale calc(var(--speed) * 1s) var(--ease),
    filter calc(var(--speed) * 1s) ease;
}

.tip__track {
  translate: calc((var(--active) - 1) * (-100%)) 0;
}

.tip__track {
  transition: translate calc(var(--speed) * 1s) calc(var(--speed) * 1s)
    var(--ease);
}

.tip__track div {
  filter: blur(calc((var(--blur, 0) * 1px) * (1 - var(--shown, 0))));
  opacity: var(--shown, 0);
  transition:
    filter calc(var(--speed) * 1s) var(--ease-in),
    opacity calc(var(--speed) * 1s) var(--ease);
}

:root:has(.nav ul:is(:hover)) {
  .tip {
    --show: 1;
    filter: blur(0);
  }
  .tip__track {
    transition-delay: 0s;
  }
}
