---
import { Bookmarks } from '@icons/Bookmarks'
import { Suitcase } from '@icons/Suitcase'

import Link from '@/components/Link'
import NotificationCard from '@/components/NotificationCard'

import BentoBadge from '../BentoBadge'
---

<div
  class:list={[
    'relative flex h-full flex-col gap-3 overflow-hidden rounded-[inherit] px-5 pb-8 pt-4',
    'max-xs:pb-36 md:max-lg:gap-4'
  ]}
>
  <div class='space-y-5 max-md:z-40'>
    <BentoBadge
      icon={Suitcase}
      text='About me'
      className={{ component: 'w-fit' }}
    />

    <div class='mt-5'>
      <span class='leading-7 text-slate-400'
        >My journey into software development began in 2013 with a simple game
        listing webpage. That early exploration sparked a passion for building
        and problem-solving that has driven me ever since. I've since had the
        opportunity to contribute to diverse projects, including a mobile
        testing platform and a ride-hailing service. Currently, I'm focused on
        developing user interfaces at a leading tech company in HCMC, where I'm
        dedicated to tackling complex challenges and continuously expanding my
        skillset. I'm particularly drawn to the intersection of design and
        engineering, where I can leverage my technical abilities to create
        intuitive and impactful user experiences. Outside of work, I enjoy
        diving into new technologies, reading, connecting with friends, and
        exploring immersive virtual worlds.
      </span>
    </div>
  </div>
</div>

<style>
  .hidden-notification-card {
    scale: 0;
    filter: blur(32px);
    transition-all: all 0.3s;
  }

  .show-notification-card {
    scale: 1 !important;
    filter: blur(0);
  }
</style>
