---
import client from '@/lib/client'

import Tweet from './Tweet.astro'

interface Props extends astroHTML.JSX.HTMLAttributes {
  tweetId: string
}

const { tweetId, class: className, ...restProps } = Astro.props

const response = await client.api['tweet-content'][':id'].$get({
  param: { id: tweetId }
})
const data = response.status === 200 ? (await response.json()).tweet : null

if (!data) return
---

<div class:list={['not-prose flex', className]} {...restProps}>
  <Tweet tweet={data} />
</div>
